body{
    overflow: hidden;
}

.login-page {
  text-align: center;
  margin-top: 150px;
  font-family: 'Ibarra Real Nova', serif;  
  margin-left: -300px; 
}

.login {
  border-radius: 35px;
  height: 40px;
}

.log {
  border-radius: 35px;
  height: 40px;
  margin-top: 20px;
  margin-right: -30px;
}

.button {
  border-radius: 35px;
  height: 40px;
  width: 100px;
  margin-top: 20px;
  margin-right: -30px;
  background-color: blue;
  font-family: 'Ibarra Real Nova', serif;
}

.sen{
    font-family: 'Ibarra Real Nova', serif;
}

.picha{
    height: 100px;
    margin-left: 700px;
    margin-top:20px;
}

.signup-page{
    text-align: center;
    margin-top: 150px;
    font-family: 'Ibarra Real Nova', serif;  
    margin-left: -300px; 
}

.first{
    border-radius: 35px;
    height: 40px;
}

.last{
    border-radius: 35px;
    height: 40px;
    margin-top: 20px;
    margin-right: -30px;
}